div.menu {
    width: 80%;
    margin: 10% 0%;
    padding: 4px;
}
ul.menu ul.dropmenu {
	list-style-type: none;
 	padding: 0;
}
ul.dropmenu {
	display: none;
}
ul.menu li.submenu {
	display: inline;
 	float: left;
 	margin: 0 1px 0 0;
}

ul.menu li.submenu a {
	padding: 3px 10px 4px;
 	display: block;
}

ul.menu a.submenu {
	background: #efefef;
}

ul.menu li.submenu:hover .dropmenu {
	display: block;
}

ul.menu .dropdown {
	background: #fff;
}

ul.menu .dropdown a:hover {
	background: #efefef;
}
