div.paragraph {
	display: block;
	min-height:75vh;
	max-height: 90vh;
	
}

.top-paragraph{
	height: 90vh;
}

.page {
	padding-top: 80px;
	width: auto;
	background-color: white;
}

h2.paragraph-name {
	text-align: right;
	font-family: sans-serif;
	padding-top: 70px;
	padding-right: 30px;
	font-size: 2em;
	color: #333;
}

.paragraph:nth-child(even) {
	background-color: black;
}

.paragraph:nth-child(even) h2.paragraph-name {
	color: #efefef;
	text-align: left;
	padding-right: 0px;
	padding-left: 30px;
}

.top-paragraph h1.paragraph-name {
	text-align: center;
	font-family: sans-serif;
	font-size: 3.5em;
	padding-top: 30vh;
}

h3 {
	color: #fff;
}

div.arrow {
	background-image: url("img/arrow.png");
	height: 64px;
	width: 64px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin: 0 -32px;
}
div.arrow:hover {
	background-image: url("img/arrowhover.png");
}
